._head{
    display: block;
    border : 1px solid white;
    height : 7vh; 
    width : 100vw;
    margin: 0;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 8px rgb(200,200,200);
}

._head_right{
    width: auto;
    height: auto;
    float: right;
    margin-right: 5%;
}
._head_elements{
    display: inline-block;
    border : 0.5px solid white;
    height: 100%;
    overflow: hidden;
    float: left;
    margin-top: 0px;
}
#head_logo{
    margin-right: 14%;
}

#head_logo a{
    height: 100%;
    width: auto;
   
}

#head_logo a img{
    height: 100%;
    width: auto;
}

#head_menu {
    border:0;
    border:1px solid white;
    border-width:1px 0;
    list-style:none;
    margin:0;
    text-align:center;
    width: auto;
    padding:0;
    width: 50vw;
}




#head_menu li{
    list-style: none;
    float: left; 
    display:inline;
}

#head_menu li *{
    display:inline-block;
    padding: 2vh;
    margin-right: 10vw;
    width:100%;
    text-decoration: none;
}

#head_menu li *:hover{
    text-decoration: underline;
}

#head_search{
   width: 170px;
   padding: 15px 0 0 15px;  
   float: left;
}

#head_search *{
    float: left;
    display: inline-block;
}

#head_search div{
    width: 20px;
    margin: 0;
   
}
#head_search img{
    
    height: 20px;
    width: 20px; 
}

#head_info{
    float: left;
    padding: 0;
}
#head_info img{
        
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin: 3px;
      
        object-fit: cover;
        object-position: center right;
      
}

